*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #3f3f46;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7d2fe;
}

#headWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #52525b;
    color: white;
    padding: 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1{
    font-size: 40px;
    color: #fff7ed;
}

#status{
    color: #fff7ed;
    font-size: 22px;
}

#gameWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#scoreBoard{
    display: flex;
    font-size: 24px;
    gap: 10px;
}

#cardTable{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 30px;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c7d2fe;
    font-weight: bold;
}